@font-face {
  font-family: Merriwoother;
  src: url("../fonts/merriweather-v22-latin-regular.woff") format("woff"), url("../fonts/merriweather-v22-latin-regular.woff2") format("woff2"), url("../fonts/merriweather-v22-latin-regular.ttf") format("ttf");
  font-weight: normal;
}
@font-face {
  font-family: Merriwoother;
  src: url("../fonts/merriweather-v22-latin-900.woff") format("woff"), url("../fonts/merriweather-v22-latin-900.woff2") format("woff2"), url("../fonts/merriweather-v22-latin-900.ttf") format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: Merriwoother;
  src: url("../fonts/merriweather-v22-latin-italic.woff") format("woff"), url("../fonts/merriweather-v22-latin-italic.woff2") format("woff2"), url("../fonts/merriweather-v22-latin-italic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Merriwoother;
  src: url("../fonts/merriweather-v22-latin-900italic.woff") format("woff"), url("../fonts/merriweather-v22-latin-900italic.woff2") format("woff2"), url("../fonts/merriweather-v22-latin-900italic.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts/open-sans-v18-latin-regular.woff") format("woff"), url("../fonts/open-sans-v18-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v18-latin-regular.ttf") format("ttf");
  font-weight: normal;
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts/open-sans-v18-latin-700.woff") format("woff"), url("../fonts/open-sans-v18-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v18-latin-700.ttf") format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts/open-sans-v18-latin-italic.woff") format("woff"), url("../fonts/open-sans-v18-latin-italic.woff2") format("woff2"), url("../fonts/open-sans-v18-latin-italic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts/open-sans-v18-latin-700italic.woff") format("woff"), url("../fonts/open-sans-v18-latin-700italic.woff2") format("woff2"), url("../fonts/open-sans-v18-latin-700italic.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: MerriwootherSans;
  src: url("../fonts/open-sans-v18-latin-regular.woff") format("woff"), url("../fonts/open-sans-v18-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v18-latin-regular.ttf") format("ttf");
  font-weight: normal;
}
@font-face {
  font-family: MerriwootherSans;
  src: url("../fonts/merriweather-sans-v13-latin-300.woff") format("woff"), url("../fonts/merriweather-sans-v13-latin-300.woff2") format("woff2"), url("../fonts/merriweather-sans-v13-latin-300.ttf") format("ttf");
  font-weight: thin;
}
@font-face {
  font-family: MerriwootherSans;
  src: url("../fonts/merriweather-sans-v13-latin-700.woff") format("woff"), url("../fonts/merriweather-sans-v13-latin-700.woff2") format("woff2"), url("../fonts/merriweather-sans-v13-latin-700.ttf") format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: MerriwootherSans;
  src: url("../fonts/merriweather-sans-v13-latin-italic.woff") format("woff"), url("../fonts/merriweather-sans-v13-latin-italic.woff2") format("woff2"), url("../fonts/merriweather-sans-v13-latin-italic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: MerriwootherSans;
  src: url("../fonts/merriweather-sans-v13-latin-300italic.woff") format("woff"), url("../fonts/merriweather-sans-v13-latin-300italic.woff2") format("woff2"), url("../fonts/merriweather-sans-v13-latin-300italic.ttf") format("ttf");
  font-weight: thin;
  font-style: italic;
}
@font-face {
  font-family: MerriwootherSans;
  src: url("../fonts/merriweather-sans-v13-latin-700italic.woff") format("woff"), url("../fonts/merriweather-sans-v13-latin-700italic.woff2") format("woff2"), url("../fonts/merriweather-sans-v13-latin-700italic.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
}
body {
  background-color: #0c2424;
  color: #6fc6b7;
  padding: 0;
  margin: 0;
}

#header {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #0c2424;
  top: 0;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 2em 2px;
  font-size: 9.9pt;
}
#header #links {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}
#header #links li {
  color: #4ab7a5;
  padding: 0;
  display: inline;
  margin-right: 2em;
}
#header #links li:last-child {
  margin-right: 0;
}
#header #links li a {
  text-decoration: none;
}
#header #links li a:hover {
  color: #a5dbd2;
}

#content {
  width: 100%;
  bottom: 0;
  height: auto;
}
#content #page {
  position: relative;
  border-radius: 0.5em;
  background-color: #102a2a;
  width: 35em;
  height: 100%;
  padding: 1em;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.3em;
}
#content #page .title-container {
  margin: 1.1em 0;
  text-align: center;
}
#content #page .title-container .nav-arrow {
  text-decoration: none;
  position: absolute;
  font-size: 22pt;
  color: #338275;
}
#content #page .title-container .nav-arrow.left {
  left: 1em;
}
#content #page .title-container .nav-arrow.right {
  right: 1em;
}
#content #page .title-container .nav-arrow:hover {
  color: #42a695;
}
#content #page .title-container .title {
  display: inline;
  font-family: Merriwoother;
  font-size: 22pt;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 0.4em;
  margin-top: 0.4em;
}
#content #page .title-container .title a {
  text-decoration: none;
}
#content #page .title-container .metrics {
  text-align: center;
  font-family: Merriwoother;
  font-size: 8.8pt;
  color: #348686;
}
#content #page .content {
  font-family: OpenSans;
  font-size: 11pt;
  color: #6fc6b7;
}
#content #page .content p {
  text-indent: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Merriwoother;
  font-weight: normal;
}

a {
  color: inherit;
}

.content a {
  text-decoration-color: #4ab7a5;
}

#footer {
  margin-top: 2em;
  margin-bottom: 25%;
  text-align: center;
  color: #338275;
  font-size: 8.8pt;
}